.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #2687a5;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
